/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

/* Colors root */
:root {
    --cream:#F4EBD0;
    --gold:#d6ab5b;
    --charcoal:#122620;
    --tan:#B68D40;
    --lightblue:#ADD8E6;
    --lightyellow: #FFEE75;
}

/* General styles */

body {
    background-color: var(--cream);
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 15px;
    line-height: 1.1rem;
    margin: 10px;
}

h1 {
    color: var(--charcoal);
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 20px;
}

h2 {
    color: var(--charcoal);
}

img {
    display: block;
    width: 97%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px 25px 0 0;
}

.page {
    display: block;
    background-color: var(--gold);
    padding: 20px 30px 30px 30px;
    width: 81%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 25px 25px;
}

.correct {
    float: left;
    color: green;
    border: solid 2px var(--tan);
    border-radius: 10px 10px 10px 10px;
    background-color: var(--cream);
    padding: 6px;
}

.wrong {
    float: right;
    color: red;
    border: solid 2px var(--tan);
    border-radius: 10px 10px 10px 10px;
    background-color: var(--cream);
    padding: 6px;
}

.question {
    margin-top: 30px;
    margin-bottom: 20px;
}

.status {
    text-transform: uppercase;
    font-size: 20px;
}

.correct-wrong {
    margin-top: 25px;
}

/*.hide {
    display: none;
}

/* Question page styling */
#question {
    background-color: var(--charcoal);
    border-radius: 25px;
    color: var(--cream);
    padding: 20px;
}

/* Back to instruction div(button) styling */
#back-to-instructions {
    background-color: var(--charcoal);
    border-radius: 25px;
    color: var(--cream);
    padding: 2px;
    margin-bottom: 20px;
    width: 35%;
}

#trivia {
    background-color: var(--lightblue);
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 20px;
}

/* Buttons styling */ 
/* General buttons styling */
button {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 100%;
    padding: 10px;
    border: solid 4px var(--charcoal);
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background: var(--lightyellow);
}

/* Options/Answers buttons styling */
.option-btn {
    width: 90%;
    margin: 8px;
}

.option-btn:hover {
    background: var(--lightblue);
    padding-right: 25px;
}

/* Button effect still unknown 
.option-btn:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
*/

/* GIF image styling - image appears when user selects and option */
.dancing-dog  {
    display: flex;
    align-items: center;
    border: solid 3px var(--charcoal);
    width: 30%;
    border-radius: 50%;
    margin-top: 20px;
}

.sad-dog {
    display: flex;
    align-items: center;
    border: solid 3px var(--charcoal);
    width: 30%;
    border-radius: 50%;
    margin-top: 20px;
}

.result-gif {
    display: flex;
    align-items: center;
    border: solid 3px var(--charcoal);
    width: 35%;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    body {
        line-height: 1.5rem;
        font-size: 17px;
    }

    img {
        margin-top: 20px;
        width: 80%;
    }

    .page {
        width: 72%;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 2.2rem;
        letter-spacing: 6px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .question {
        margin-top: 50px;
    }

    .status {
    font-size: 20px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    body {
        line-height: 1.4rem;
        font-size: 15px;
    }

    img {
        width: 45%;
    }

    .page {
        width: 40%;
    }

    h1 {
        font-size: 2rem;
        letter-spacing: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}   

/* Large devices (laptops and desktops, 1024px and up) */
@media screen and (min-width: 1024px) {
    h1 {
        font-size: 2rem;
        letter-spacing: 3px;
    }
}
