/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

/* Colors root */
:root {
    --cream:#F4EBD0;
    --gold:#D6AD60;
    --charcoal:#122620;
    --tan:#B68D40;
    --lightblue:#ADD8E6;
    --lightyellow: #FFEE75;
}

/* General styles */

body {
    background-color: var(--cream);
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 18px;
    line-height: 1.5rem;
}

h1 {
    color: var(--charcoal);
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

h2 {
    color: var(--charcoal);
}

img {
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px 25px 0 0;
}

.page {
    background-color: var(--gold);
    padding: 20px 30px 30px 30px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.correct {
    float: left;
    color: green;
}

.wrong {
    float: right;
    color: red;
}

.question {
    margin-top: 30px;
    margin-bottom: 20px;
}

.status {
    text-transform: uppercase;
}

.correct-wrong {
    margin-top: 25px;
}

/* Question page styling */
#question {
    background-color: var(--charcoal);
    border-radius: 25px;
    flex: display;
    align-content: center;
    width: 90%;
    color: var(--cream);
}

#trivia {
    flex: display;
    align-content: center;
    background-color: var(--lightblue);
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 20px;
}

/* Buttons styling */ 
/* General buttons styling */
button {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 100%;
    padding: 10px;
    border: solid 4px var(--charcoal);
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background: var(--lightyellow);
}

/* Options/Answers buttons styling */
.option-btn {
    width: 90%;
    margin: 8px;
}

.option-btn:hover {
    background: var(--lightblue);
    padding-right: 25px;
}

/* Button effect still unknown 
.option-btn:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
*/





